<% const styles = require('./style.scss'); %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bucketlist</title>
</head>
<body>
  <h1 class="<%= styles.mainTitle %>">My Bucket List</h1>
  <input class="<%= styles.inputText %> js-inputText" type="text" placeholder="버킷리스트 입력">
  <button class="<%= styles.inputButton%> js-btn">추가</button>
  <div class="<%= styles.alert %> js-alert"></div>
  <ul class="<%= styles.bucketlist %> js-bucketlist"></ul>
</body>

</html>